In [1]:
import pandas as pd

In [2]:
%load_ext numpy_html

In [3]:
%%html
<style>
table {margin-top: 16pt;}
td {font-family: Arial, Helvetica, sans-serif !important; font-weight: 600; white-space: normal !important;}
tr:nth-child(even) {background: #b0d9eb !important; color: black}
tr:nth-child(odd) {background: #8fb1bf !important; color: black}
</style>

In [4]:
# Read the Excel file into a DataFrame
df = pd.read_csv("data_salaries_india.csv")
df.head()

,Company Name,Job Title,Role,Salaries Reported,Location,Salary
0,Axis Bank,Data Scientist,Specialist,3,Bangalore,"₹11,71,687/yr"
1,Globex Digital Solutions,Machine Learning Engineer,Manager,1,Hyderabad,"₹32,57,305/yr"
2,Tempworks Services,Data Scientist,Manager,1,Bangalore,"₹58,11,205/yr"
3,BlueOptima,Machine Learning Engineer,Specialist,2,Bangalore,"₹11,80,965/yr"
4,Dell Technologies,Data Analyst,Specialist,5,New Delhi,"₹6,02,930/yr"

In [5]:
df['Salary'] = df['Salary'].str.replace('₹', '')
df['Salary'] = df['Salary'].str.replace('/yr', '')
df['Salary'] = df['Salary'].str.replace(',', '')
df.head()

,Company Name,Job Title,Role,Salaries Reported,Location,Salary
0,Axis Bank,Data Scientist,Specialist,3,Bangalore,1171687
1,Globex Digital Solutions,Machine Learning Engineer,Manager,1,Hyderabad,3257305
2,Tempworks Services,Data Scientist,Manager,1,Bangalore,5811205
3,BlueOptima,Machine Learning Engineer,Specialist,2,Bangalore,1180965
4,Dell Technologies,Data Analyst,Specialist,5,New Delhi,602930

In [6]:
df['Salary'] = df['Salary'].astype(int)
df['Monthly Salary'] = df['Salary'] / 12
df['Hourly Salary'] = df['Salary'] / 2080
df.head()

,Company Name,Job Title,Role,Salaries Reported,Location,Salary,Monthly Salary,Hourly Salary
0,Axis Bank,Data Scientist,Specialist,3,Bangalore,1171687,97640.583333,563.311058
1,Globex Digital Solutions,Machine Learning Engineer,Manager,1,Hyderabad,3257305,271442.083333,1566.012019
2,Tempworks Services,Data Scientist,Manager,1,Bangalore,5811205,484267.083333,2793.848558
3,BlueOptima,Machine Learning Engineer,Specialist,2,Bangalore,1180965,98413.750000,567.771635
4,Dell Technologies,Data Analyst,Specialist,5,New Delhi,602930,50244.166667,289.870192

In [7]:
common_job_titles = df['Job Title'].value_counts().head(5)
balance_job_titles = df['Job Title'].value_counts(normalize=True)
common_job_titles

Job Title
Data Scientist               2165
Data Analyst                 1167
Data Engineer                 948
Machine Learning Engineer     683
Data Science                   54
Name: count, dtype: int64

In [8]:
common_companies = df['Company Name'].value_counts().head(5)
balance_companies = df['Company Name'].value_counts(normalize=True)
common_companies

Company Name
Tata Consultancy Services    51
Accenture                    39
Amazon                       35
Fresher                      31
First Student                30
Name: count, dtype: int64

In [9]:
common_locations = df['Location'].value_counts().head(5)
balance_locations = df['Location'].value_counts(normalize=True)
common_locations

Location
Bangalore    1858
Pune          966
Hyderabad     786
New Delhi     781
Mumbai        736
Name: count, dtype: int64

In [10]:
df['Job Title'] = df['Job Title'].replace({'Machine Learning Data Associate': 'Machine Learning Associate'})

In [11]:
job_title_counts = df['Job Title'].value_counts()
job_title_counts

Job Title
Data Scientist                              2165
Data Analyst                                1167
Data Engineer                                948
Machine Learning Engineer                    683
Data Science                                  54
Senior Data Scientist                         45
Junior Data Scientist                         22
Senior Machine Learning Engineer              10
Lead Data Scientist                            6
Software Engineer - Machine Learning           3
Machine Learning Engineer/Data Scientist       2
Machine Learning Data Associate II             2
Machine Learning Associate                     2
Machine Learning Developer                     2
Machine Learning Consultant                    2
Machine Learning Scientist                     2
Data Scientist - Trainee                       2
Data Science Consultant                        1
Machine Learning Data Associate I              1
Data Science Associate                         1
National Director                              1
Data Science Manager                           1
Data Science Lead                              1
Machine Learning Data Analyst                  1
Associate Machine Learning Engineer            1
Machine Learning Software Engineer             1
CEO                                            1
Name: count, dtype: int64

In [12]:
company_counts = df['Company Name'].value_counts()
company_counts

Company Name
Tata Consultancy Services    51
Accenture                    39
Amazon                       35
Fresher                      31
First Student                30
                             ..
SMARTe                        1
FSN Ecommerce Ventures        1
Sarvvid-AI                    1
BCA                           1
Rejolut                       1
Name: count, Length: 2523, dtype: int64

In [13]:
location_counts = df['Location'].value_counts()
location_counts

Location
Bangalore    1858
Pune          966
Hyderabad     786
New Delhi     781
Mumbai        736
Name: count, dtype: int64

In [14]:
quantiles = df['Salary'].quantile([0.25, 0.5, 0.75])

# Thresholds for each quartile
q1 = quantiles[0.25]
q2 = quantiles[0.5]
q3 = quantiles[0.75]

# Distributing quartiles
df['Salary Category'] = pd.cut(df['Salary'], bins=[float('-inf'), q1, q2, q3, float('inf')],
                               labels=['Bottom', 'Below Average', 'Above Average', 'Top'])
df.head()

,Company Name,Job Title,Role,Salaries Reported,Location,Salary,Monthly Salary,Hourly Salary,Salary Category
0,Axis Bank,Data Scientist,Specialist,3,Bangalore,1171687,97640.583333,563.311058,Above Average
1,Globex Digital Solutions,Machine Learning Engineer,Manager,1,Hyderabad,3257305,271442.083333,1566.012019,Top
2,Tempworks Services,Data Scientist,Manager,1,Bangalore,5811205,484267.083333,2793.848558,Top
3,BlueOptima,Machine Learning Engineer,Specialist,2,Bangalore,1180965,98413.750000,567.771635,Above Average
4,Dell Technologies,Data Analyst,Specialist,5,New Delhi,602930,50244.166667,289.870192,Below Average

In [15]:
from sklearn.preprocessing import OneHotEncoder
variables = ['Role']

encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

# splited regions into columns

In [16]:
variables = ['Salary Category']

encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

# splited regions into columns

In [17]:
variables = ['Job Title']

encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

# splited regions into columns

In [18]:
df = df.drop(columns=['Company Name', 'Location', 'Salary', 'Monthly Salary', 'Hourly Salary'])

In [19]:
correlation = df.corr()
correlation.style.highlight_quantile(axis=None, q_left=0.9, color="green")

<b></b>

<b>I used OneHotEncoder in order to see correlations between specific Job Title/Roles and Salary Category.
Surprisingly the best correlation is between Top Salary Category and Role_Manager (0.44), so managers get paid pretty well.
And even more surprising, that the second best correlation (0.2), is between Role_Specialist and Salary Category Bottom, 
so Specialist does not make much nowadays... (or it's just the data)</b>