In [1]:
import pandas as pd

In [2]:
%load_ext numpy_html

In [3]:
%%html
<style>
table {margin-top: 16pt;}
td {font-family: Arial, Helvetica, sans-serif !important; font-weight: 600; white-space: normal !important;}
tr:nth-child(even) {background: #b0d9eb !important; color: black}
tr:nth-child(odd) {background: #8fb1bf !important; color: black}
</style>

In [4]:
# Read the Excel file into a DataFrame
df = pd.read_csv("purchases.csv")

In [5]:
df1 = df[df['Purchase Order Number'] == '018H2015']
total_price_sum = (df1['Total Price']).sum()
total_price_sum

1245.0400000000002

In [6]:
number = '3176273'

item_info = df[df['Purchase Order Number'] == number][['Item Name', 'Item Description']]

item_name = item_info['Item Name'].values[0]
item_description = item_info['Item Description'].values[0]
print("Item Name:", item_name)
print("Item Description:", item_description)

Item Name: PC Desktop
Item Description: HP Prodesk 600

In [9]:
number = '3176273'
name = df.loc[df['Purchase Order Number'] == number, 'Item Name'].values[0]
description = df.loc[df['Purchase Order Number'] == number, 'Item Description'].values[0]
name, description

('PC Desktop', 'HP Prodesk 600')

In [10]:
year2013 = (df['Fiscal Year'] == '2013-2014').sum()
year2013

9508

In [11]:
most_common_values = df['Department Name'].value_counts().nlargest(5)
most_common_values

Department Name
Corrections and Rehabilitation, Department of    10891
Correctional Health Care Services                 6593
Water Resources, Department of                    4582
Forestry and Fire Protection, Department of       4526
State Hospitals, Department of                    4281
Name: count, dtype: int64

In [15]:
dep_spend = df.groupby('Department Name')['Total Price'].sum().nlargest(3)
dep_spend

Department Name
Health Care Services, Department of    2.186685e+10
Public Health, Department of           2.748240e+09
Social Services, Department of         1.291192e+09
Name: Total Price, dtype: float64

In [17]:
df = df.sort_values('Department Name')
df

,Creation Date,Purchase Date,Fiscal Year,LPA Number,Purchase Order Number,Requisition Number,Acquisition Type,Acquisition Method,Department Name,Supplier Code,...,Classification Codes,Normalized UNSPSC,Commodity Title,Class,Class Title,Family,Family Title,Segment,Segment Title,Location
6,11/30/2012,06/15/2012,2012-2013,NaN,11OAL07,NaN,NON-IT Goods,NCB,"Administrative Law, Office of",1001493.0,...,55101524,55101524.0,Reference books,55101500.0,Printed publications,55100000.0,Printed media,55000000.0,Published Products,"95833\n(38.615723, -121.50562)"
519,11/30/2012,06/15/2012,2012-2013,NaN,11OAL09,NaN,NON-IT Goods,NCB,"Administrative Law, Office of",1657720.0,...,55101524,55101524.0,Reference books,55101500.0,Printed publications,55100000.0,Printed media,55000000.0,Published Products,"55123\n(44.807169, -93.136157)"
20018,11/30/2012,06/15/2012,2012-2013,NaN,11OAL10,NaN,NON-IT Goods,NCB,"Administrative Law, Office of",1657720.0,...,55101524,55101524.0,Reference books,55101500.0,Printed publications,55100000.0,Printed media,55000000.0,Published Products,"55123\n(44.807169, -93.136157)"
31381,02/21/2013,03/20/2013,2012-2013,NaN,11-12201,NaN,NON-IT Services,Informal Competitive,"African American Museum, California",7341.0,...,82101801,82101801.0,Advertising campaign services,82101800.0,Advertising agency services,82100000.0,Advertising,82000000.0,Editorial and Design and Graphic and Fine Art ...,"90017\n(34.052895, -118.2642)"
27820,01/03/2013,02/14/2011,2012-2013,NaN,11-12175,NaN,NON-IT Services,Informal Competitive,"African American Museum, California",1749414.0,...,78141501,78141501.0,Freight forwarders services,78141500.0,Transport arranging services,78140000.0,Transport services,78000000.0,Transportation and Storage and Mail Services,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49067,06/13/2013,06/12/2013,2012-2013,NaN,4500199013,NaN,IT Goods,Informal Competitive,"Water Resources, Department of",1016373.0,...,43232605,43232605.0,Analytical or scientific software,43232600.0,Industry specific software,43230000.0,Software,43000000.0,Information Technology Broadcasting and Teleco...,1760\n
24826,12/17/2012,12/15/2012,2012-2013,NaN,4500192615,NaN,NON-IT Goods,Formal Competitive,"Water Resources, Department of",16299.0,...,27131603\n40141605,27131603.0,Air regulators,27131600.0,Air fittings and connectors,27130000.0,Pneumatic machinery and equipment,27000000.0,Tools and General Machinery,"93390\n(35.373405, -119.018911)"
49068,06/13/2013,06/12/2013,2012-2013,NaN,4500199013,NaN,IT Goods,Informal Competitive,"Water Resources, Department of",1016373.0,...,43232605,43232605.0,Analytical or scientific software,43232600.0,Industry specific software,43230000.0,Software,43000000.0,Information Technology Broadcasting and Teleco...,1760\n
49059,06/13/2013,06/12/2013,2012-2013,NaN,4500199013,NaN,IT Goods,Informal Competitive,"Water Resources, Department of",1016373.0,...,43232605,43232605.0,Analytical or scientific software,43232600.0,Industry specific software,43230000.0,Software,43000000.0,Information Technology Broadcasting and Teleco...,1760\n
44469,05/07/2013,05/01/2013,2012-2013,NaN,4500197248,NaN,NON-IT Goods,State Programs,"Water Resources, Department of",1743406.0,...,78180301,78180301.0,Fuelling of vehicles,78180300.0,Transport fuelling and vehicle storage and sup...,78180000.0,Transportation repair or maintenance services,78000000.0,Transportation and Storage and Mail Services,NaN

In [27]:
amount1 = df[(df['Acquisition Type'] == 'IT Goods') & (df['Total Price'] > 50000)].shape[0]
amount1

698

In [28]:
it_categories = ['IT Goods', 'IT Services', 'IT Telecommunications']
amount2 = df[df['Acquisition Type'].isin(it_categories)].shape[0]
amount2

9558

In [37]:
new_df = df[df['Total Price'] > 0]
grouped = new_df.groupby('Acquisition Type')['Total Price'].agg(['sum', 'mean'])

In [38]:

largest_sums = grouped.nlargest(2, 'sum')
largest_sums

                           sum          mean
Acquisition Type
NON-IT Services   3.056420e+10  2.481062e+06
IT Services       1.156984e+09  6.829892e+05

In [39]:
largest_means = grouped.nlargest(2, 'mean')
largest_means

                           sum          mean
Acquisition Type
NON-IT Services   3.056420e+10  2.481062e+06
IT Services       1.156984e+09  6.829892e+05